@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

body {
    background-color: #06191d;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

#containSnap {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.secHeader,
.sfum {
    background: linear-gradient(83deg, #ffffff, #7d7777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.secHeader {
    height: 6vh;
    padding: 3vh;
    margin: 0;
    vertical-align: top;
    text-align: center;
}

article {
    scroll-snap-align: start;
    place-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

html,
body {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-block: visible;
}

.col:nth-child(2) {
    transition-delay: 100ms;
}

.col:nth-child(3) {
    transition-delay: 200ms;
}

.col:nth-child(4) {
    transition-delay: 300ms;
}

.col:nth-child(5) {
    transition-delay: 400ms;
}

.col:nth-child(6) {
    transition-delay: 500ms;
}

.col:nth-child(7) {
    transition-delay: 600ms;
}

.topTranslate {
    transform: translateY(-100%);
}

.bottomTranslate {
    transform: translateY(100%);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.navbar,
.cards,
.flex {
    display: flex;
}

header {
    height: 100vh;
}

.nomargin {
    margin: 0;
}

.logo {
    border-radius: 10px;
    padding: 1rem;
    margin: 0 0.5rem;
}

.cards {
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #06191d;
}

/*test*/
::-webkit-scrollbar {
    width: 0;
    /* remove scrollbar space */
}
#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 1vw;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
        position: fixed;
        top: 0;
        right: 0;
        width: 10px;
        background: linear-gradient(to top, #008aff, #00ffe7);
        animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(0px);
}
#progressbar::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.box:before, .box:after{
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before, 
.box:nth-child(2):after{
    background: linear-gradient(235deg, #fbff00, #010615, #89ff00);
}

.box:nth-child(3):before, 
.box:nth-child(3):after{
    background: linear-gradient(235deg, #2196f3, #010615, #fbff00);
}

.box:nth-child(4):before, 
.box:nth-child(4):after{
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}


.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    filter: blur(16px);
}