@media screen and (max-width: 1299px) {


    h1 {
        font-size: 30pt;
        margin-bottom: 10px;
    }


    .rightflex, .leftflex {
        display: flex;
    }

    .navbar, .cards{
        flex-wrap: wrap;
    }

    .rightflex, .leftflex {
        justify-content: center;
    }


    .navbar {
        justify-content: center;
    }

    .headerText {
        display: grid;
        place-items: center;
        align-content: center;
        padding-top: 80px;
    }

    .bold {
        font-weight: bold;
    }

    .rightflex{
        flex-flow: column wrap;
    }

    .leftflex{
        flex-flow: column-reverse wrap;
    }

    .images {
        max-width: 40vw;
    }

    .padding {
        padding: 1.7rem;
    }

    .icon {
        width: 30vw;
        height: auto;
    }

    .card {
        background-color: #c3c3c3;
        width: 30vw;
        height: 22vh;
        text-align: center;
        color: #06191d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        /* 5px rounded corners */
        padding: 0.5rem;
        margin: 0 0.5rem;
        margin-bottom: 1rem;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        background-color: #908d8d;

    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px;
    }

    .container > p{
        margin: 0;
    }

    img {
        width: 80vw;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #aboutme{
        font-size: 2.4vh;
    }

    #education{
        font-size: 2.4vh;
    }

    #experiences1{
        font-size: 1.8vh;
    }

    #experiences2{
        font-size: 2.4vh;
    }

    #skills{
        font-size: 2.4vh;
    }

    .text{
        white-space: pre-line; 
        margin: auto;
        width: 80%;
    }

    .prova{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 80vh;
    }

    .box{
        position: relative;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:16px;
        background: #060c21;
        transition: 0.5s;
    }
    .box:hover{
        height: 200px;
    }
    .box .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 4px;
        box-sizing: border-box;
    }
    .box .imgBx h2{
        text-align: center;
        font-size: 16px;
        max-width: 100%;
        opacity: 0.1;
        transition: 0.5s;
    }
    .box:hover .imgBx h2{
        opacity: 1;
    }
    

    .box .content{
        position: absolute;
        bottom:0;
        left: 4px;
        right: 4px;
        bottom: 4px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
    }
    .box:hover .content{
        opacity: 1;
    }
    .box .content h2{
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 10px;
        letter-spacing: 1px;
    }
    .box .content h2 span{
        color: #fff;
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 1px;
    }

    .box .content h2 a{
        pointer-events: initial;
        text-decoration: underline;
        color: #908d8d;
    }

    .box .content:hover h2 a{
        pointer-events: all;
    }

}
